* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0px;
    padding: 0;
    background: #000000;
}
* {
    font-family: Unifont, Unifont-JP, Unifont CSUR, Unifont Upper, FontAwesome, Roboto, Helvetica, Arial, monospace;
	font-size: 16;
}
#workspaces button {
    color:#6B313D;
}
#workspaces button.focused {
    color: #9EA68F
}
#workspaces button.visible {
    color: #9EA68F
}
#workspaces button.persistent {
    color: #444444
}
#workspaces button.urgent {
    color: red
}

/* river tags */
#tags button {
    color: #444444;
}
#tags button.occupied {
    color: #6B313D
}
#tags button.focused {
    color: #9EA68F
}
#tags button.urgent {
    color: red
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    color: #9EA68F;
}
